.main-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.side-bar{
  height: 100%;
  width: 4%;
}
.side-section{
  height: 100%;
  width: 22%;
}
.outlet-section{
  height: 100%;
  width: 74%;
}

